<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="MirageMUD">
			<section name="ObjectStorageFactory" type="Mirage.Core.IO.Serialization.ObjectStorageConfiguration, Mirage.Core" />
			<section name="Roles" type="System.Configuration.AppSettingsSection,System.configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</sectionGroup>
		<section name="JsonMessageFactory" type="JsonExSerializer.XmlConfigSection, JsonExSerializer" />
	</configSections>
	<appSettings>
		<add key="default.room" value="Areas/DefaultArea/Rooms/DefaultRoom" />
		<!-- Splash screen for the text client -->
		<add key="textclient.splash" value="Includes\Welcome.txt" />
		<!-- enter the host if you need to bind to a specific ip or host -->
		<!--
		<add key="textclient.host" value="localhost"/>
		-->
		<add key="textclient.port" value="4500" />
		<!-- enter the host if you need to bind to a specific ip or host -->
		<!--
		<add key="guiclient.host" value="localhost"/>
		-->
		<add key="guiclient.port" value="4501" />
		<!-- Configure the maximum number of threads for processing I/O, defaults to the number of cores-->
		<!--
		<add key="clientmanager.maxthreads" value="2"/>
		-->
	</appSettings>
	<MirageMUD>
		<ObjectStorageFactory>
			<PersistenceManagers>
				<add name="player" base-path="players/" file-extension=".jsx" type="Mirage.Core.IO.Serialization.JsonExPersistenceAdapter" persisted-type="Mirage.Game.World.Player, Mirage.Game" />
				<add name="area" base-path="areas/" file-extension=".jsx" type="Mirage.Core.IO.Serialization.JsonExPersistenceAdapter" persisted-type="Mirage.Game.World.Area, Mirage.Game" />
			</PersistenceManagers>
		</ObjectStorageFactory>
		<Roles>
			<add key="player" value="Role for all players" />
			<add key="admin" value="Admin role has every system right regardless of role" />
			<add key="immortal" value="All immortals should have this role" />
			<add key="coder" value="For coder commands such as debugging, clearing caches, etc" />
			<add key="builder" value="Area builders" />
		</Roles>
	</MirageMUD>
	<JsonMessageFactory>
		<TypeBindings>
			<add alias="StringMessage" type="Mirage.Game.Communication.StringMessage, Mirage.Game" />
			<add alias="ResourceMessage" type="Mirage.Game.Communication.ResourceMessage, Mirage.Game" />
		</TypeBindings>
	</JsonMessageFactory>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Services.Logging.Log4netIntegration" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
