<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="MirageMUD">
      <section name="ObjectStorageFactory" type="Mirage.Core.IO.Serialization.ObjectStorageConfiguration, Mirage.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="default.room" value="Areas/DefaultArea/Rooms/DefaultRoom"/>
  </appSettings>
  <log4net>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <MirageMUD>
  <ObjectStorageFactory>
    <PersistenceManagers>
      <add name="player" base-path="players/" file-extension=".jsx" type="Mirage.Core.IO.Serialization.JsonExPersistenceAdapter" persisted-type="Mirage.Core.Data.Player, Mirage.Core"/>
      <add name="area" base-path="areas/" file-extension=".jsx" type="Mirage.Core.IO.Serialization.JsonExPersistenceAdapter" persisted-type="Mirage.Core.Data.Area, Mirage.Core"/>

    </PersistenceManagers>
  </ObjectStorageFactory>
  </MirageMUD>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
