<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ObjectStorageFactory" type="Mirage.IO.Serialization.ObjectStorageConfiguration, MirageMUD"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="default.room" value="Areas/DefaultArea/Rooms/DefaultRoom"/>
  </appSettings>
  <log4net>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <ObjectStorageFactory>
    <PersistenceManagers>
      <add name="player" 
           base-path="players/" 
           file-extension=".jsx" 
           type="Mirage.IO.Serialization.JsonExPersistenceAdapter" 
           persisted-type="Mirage.Data.Player"/>
      <add name="area" 
           base-path="areas/" 
           file-extension=".jsx" 
           type="Mirage.IO.Serialization.JsonExPersistenceAdapter" 
           persisted-type="Mirage.Data.Area"/>

    </PersistenceManagers>
  </ObjectStorageFactory>
</configuration>