<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MirageGUI.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MirageGUIClient.MirageGUIClient" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
  <log4net>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="DebugLogger">
      <level value="DEBUG"/>
    </logger>
  </log4net>  
    <userSettings>
        <MirageGUI.AppSettings>
            <setting name="RemoteHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>4500</value>
            </setting>
            <setting name="ConsoleFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="ConsoleForeColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="ConsoleBackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>566, 397</value>
            </setting>
        </MirageGUI.AppSettings>
        <MirageGUIClient.MirageGUIClient>
            <setting name="RemoteHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>4500</value>
            </setting>
            <setting name="ConsoleFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="ConsoleForeColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="ConsoleBackColor" serializeAs="String">
                <value>Window</value>
            </setting>
        </MirageGUIClient.MirageGUIClient>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
