<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MirageGUI.MirageGUI" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MirageGUIClient.MirageGUIClient" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MirageGUI.MirageGUI>
            <setting name="RemoteHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>4500</value>
            </setting>
            <setting name="ConsoleFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="ConsoleForeColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="ConsoleBackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
        </MirageGUI.MirageGUI>
        <MirageGUIClient.MirageGUIClient>
            <setting name="RemoteHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>4500</value>
            </setting>
            <setting name="ConsoleFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="ConsoleForeColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="ConsoleBackColor" serializeAs="String">
                <value>Window</value>
            </setting>
        </MirageGUIClient.MirageGUIClient>
    </userSettings>
</configuration>