<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serializerFactory" type="Shoop.IO.Serialization.ObjectSerializerConfiguration, ShoopMUD"/>
  </configSections>
  <appSettings>
    <add key="player.dir" value="players/"/>
    <add key="default.room" value="Areas/DefaultArea/Rooms/DefaultRoom"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="5">
      <listeners>
        <add name="log" type="System.Diagnostics.TextWriterTraceListener"
             initializeData="output.txt"  traceOutputOptions="DateTime" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <serializerFactory default="json">
    <serializers>
      <add name="json" extension=".js" type="Shoop.IO.Serialization.JSONSerializerAdapter" />
      <add name="xml" extension=".xml" type="Shoop.IO.Serialization.XmlSerializerAdapter" />
    </serializers>
  </serializerFactory>
</configuration>